{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<link rel ="stylesheet" href ="{% static 'main.css' %}" type="text/css">

<div class="container text-center">
    <div id="full-row" class = "row justify-content-center align-items-center">
        
        <div class="col-lg-3 col-md-4 div-morphism ">
            <h3>You have been Logged out</h3>
            <a class="btn btn-success" href="{%url 'users:login'%}">Login</a>
        </div>
    </div>
</div>
{%endblock %} 