{% extends 'base.html' %}
{% block content %}
{% include 'sidebar.html' %}

<div class="col-md-9">
  <h1>Level {{user.userprofile.level}}-{{ user.username }}'s Steps</h1>
  <p>Total Unit Number: {{ user_profile.total_unit_number }}</p>


  {% if user_steps %}
    <ul>
    {% for step in user_steps %}
      <li><a href="{% url 'users:detail' step.id %}">{{ step.step_title }}</a> - {{ step.total_upvotes }} upvotes</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No steps created yet.</p>
  {% endif %}
  <div class="col-md-12">
    <a type="button" class="btn btn-outline-success" href="{%url 'users:create_step'%}">Create step</a>
</div>
</div>
{% endblock %}
