
{% load static %}

<link rel ="stylesheet" href ="{% static 'main.css' %}" type="text/css">
<nav class="navbar navbar-expand-lg">
    <div class="container navbar-container">
      <a class="navbar-brand" href="{%url 'home'%}">
        <img src="{% static "media/logocrane.png" %}" alt="2xproject" width="70" height="64">
      </a>
      <ul class="nav d-flex">
        {% if user.is_authenticated %}
        <li><a href="{%url 'users:profile'%}" class="btn-morphism">{{request.user.username}}-{{user.userprofile.level}}</a></li>
        <li><a href="{%url 'users:logout'%}" class="btn-morphism">Logout</a></li>
        {% else %}
        <li><a href="{%url 'users:login'%}" class="btn-morphism">Login</a></li>
        <li><a href="{%url 'users:register'%}" class="btn-morphism">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
