body{
  /* background-color: #e0e0e0; */
  height:100%;
  width:100%;
  position: absolute;
}
/*Buttons*/
.btn{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/*Home page*/
.container-home{
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
/*Jumbotron*/
.jumbotron{
  background-color: rgb(220, 221, 220);
}
/*Autocomplete form*/
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.ui-autocomplete li {
  padding: 4px 10px;
  cursor: pointer;
}

.ui-autocomplete li:hover {
  background-color: #f4f4f4;
  font-weight: bold;
}
